.corpo {
    background-color: #d3d3d3;
}
.d1 {
    background-color: #ffffff;
    height: 500px;
    width: 50vw;
    border: 10px dotted #000000;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.d2 {
    background-color:#ffeb3a;
    height: 50px;
    width: 30%;
}
.d3 {
    background-color: rgb(192, 132, 22);
    height: 100px;
    width: 30%;
}
.d4 {
    background-color: rgb(1, 219, 1);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
