.d1 {
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid green;
    margin-top: 100px;
}
.d2 {
    background-color:black;
    height: 50vh;
    border: 10px dashed red;
    margin-left: 100px;
    margin-top: 100px;
}
